.joinPage{
    background-color: hsl(0, 0%, 0%);
    /* width: 100vw; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Container {
   border: 2px solid white;
   height: 80%;
   width: 50%;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.Container > img{
    width: 15vmax;
}

.Container > h1{
    color: white;
    font-size: 2.5vmax;
    width: 25vmax;
    border-bottom:0.2vmax solid white ;
    text-align: center;
    padding: 1vmax;
    font-family: "Roboto";
}

#joininput{
    width: 25vmax;
    padding: 1.5vmax;
    border: none;
    font-size: 1.2vmax;
    outline: none;
    margin: 2vmax;
    box-sizing: border-box;
}

.btn{
    width: 25vmax;
    padding: 1.5vmax;
    border: none;
    color: white;
    font-family: "Roboto";
    font-size: 1.6vmax;
    outline: none;
    background-color: rgb(84, 150, 150);
    transform: all 0..3s;
    cursor: pointer;
    box-sizing: border-box;
}

.btn:hover{
    background-color: rgb(18, 32, 32) ;
}