.mein-page{
    background-color: hsl(0, 0%, 0%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.second-page{
    background-color: white;
    width:50% ;
    height: 60% ;
}

.header-page{
    background-color: crimson;
    height: 15% ;

}

.chat-box{
    
    height: 70% ;
    box-sizing: border-box;
}

.input-box{
    border: 0.2vmax solid black;
    height: 15% ;
    box-sizing: border-box;
    display: flex;
    overflow-y: auto;
}

#chatinput{
 background-color: white;
 width: 89%;
 border: none;
 padding: 1vmax;
 box-sizing: border-box;
 font-size: large;
 outline: none;
 border-top: 0.2vmax solid black;
}
.sendbtn{
   background-color: crimson;
   width: 20%;
   border: none;
   color: white;
}

.sendbtn:hover{
    background-color: rgb(68, 12, 23);
}

.sendbtn:hover .SendIcon{
    transform: translate(10px);
}