body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (max-aspect-retio: 700/100) {
  .Container{
    width: 100% !important;
    border: 2px solid white;
  }
  .Container > img{
    width: 30vmax;
}

.Container > h1{
    color: white;
    font-size: 2.5vmax;
    width: 25vmax;
    border-bottom:0.2vmax solid white ;
    text-align: center;
    padding: 1vmax;
    font-family: "Roboto";
}
}